$header-height: 60px;

.body {
    background-color: rgb(46, 45, 45);
    font-family: inconsolata;
}

.body__none-scroll {
    overflow: hidden;
}

.wrapper {
    background-image: url(/img/back.jpg);
    // background-size: contain;
    display: flex;
    flex-flow: column nowrap;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: auto;

    &__top {
        background-color: rgb(35, 32, 40);
        box-shadow: 0px 2px 7px black;
    }

    &__content {
        min-height: $header-height;
        padding: 10px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }

    &__logo {
        width: 40px;
        // padding: 0px 10px;
        border-radius: 3px;
        box-shadow: 0px 1px 10px rgb(0, 0, 0);
        transition: .3s;
    }

    &__logo:hover {
        background-color: rgb(3, 36, 47);
    }

    &__nav {
        background-color: rgb(24, 29, 28);
        border-radius: 5px;
        flex: 0 1 auto;
        padding: 5px 30px;
        box-shadow: 0 0 5px rgb(0, 0, 0);
        transition: .2s;
    }

    &__nav:hover {
        box-shadow: 0 0 4px rgba(0, 255, 191, 0.312);
    }

    &__community {
        color: rgb(180, 216, 206);
        display: block;
        border-radius: 3px;
        position: relative;
        padding: 6px 10px 8px 33px;
    }

    &__community:hover {
        outline: 1px solid rgba(11, 129, 159, 0.35);
        text-decoration: underline;
    }

    &__community:active {
        outline: 1px solid rgba(45, 16, 233, 0.35);
    }

    &__community::before {
        content: '';
        display: block;
        height: 100%;
        width: 25px;
        background-image: url(../img/community.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 3px;
        top: 1px;
    }

    &__user-menu {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

    &__button {
        background: rgb(19, 39, 41);
        border-radius: 7px;
        box-shadow: 0px 1px 3px rgb(0, 0, 0);
        padding: 5px 10px;
        min-height: 20px;
        flex: 0 0 auto;
        transition: .2s;
    }

    &__button_red {
        background: rgb(22, 49, 36);
    }

    &__button:hover {
        background-color: rgb(23, 53, 58);
    }

    &__button:active {
        background-color: rgb(39, 123, 134);
    }

    &__registration-button {
        background: transparent;
        color: rgb(197, 219, 119);
        // background-color: rgb(166, 42, 42);
        padding: 7px 10px 7px 30px;
        position: relative;
        border-radius: 3px;
    }

    &__registration-button:hover {
        color: rgb(228, 160, 33);
        text-decoration: underline;
        outline: 1px solid rgb(79, 166, 50);
    }

    &__registration-button:active {
        outline: 1px solid rgb(196, 40, 40);
    }

    &__registration-button::before {
        content: '';
        position: absolute;
        left: 4px;
        top: 4px;
        // bottom: 0;
        margin: auto 0;
        height: 100%;
        width: 20px;
        background-image: url(../img/plus.svg);
        background-repeat: no-repeat;
        background-size: contain;

    }

    &__icon {
        width: 20px;
    }

    &__hidden-search-panel {
        background-color: rgb(40, 49, 55);
        border-radius: 4px;
        box-shadow: 0px 2px 4px black;
        position: absolute;
        max-width: 1400px;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        height: 50px;
        padding: 10px 100px;
        z-index: -1;

        transition: .3s;

        display: flex;
        align-items: center;
        justify-content: center;

        &_open-search-form {
            top: calc($header-height + 3px);
        }
    }

    &__search-form {
        flex: 1 1 auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto;
    }

    &__substrate {
        position: absolute;
        display: none;
        z-index: -2;
        width: 100vw;
        height: 100vh;
        background-color: rgba(170, 170, 170, 0.044);
    }

    &__substrate-opener {
        display: block;
    }
}

.nav {
    display: flex;
    align-items: center;

    &__nav-list {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    &__nav-item {
        display: block;
        flex: 0 1 auto;
        position: relative;
        height: 20px;
    }

    &__nav-link {
        background-color: rgb(22, 29, 31);
        box-shadow: 0px 0px 3px rgb(0, 0, 0);

        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
        padding: 5px 10px;
        border-radius: 3px;
        transition: background-color .2s ease;
    }

    &__nav-link:hover {
        background-color: rgb(31, 47, 56);
    }

    &__nav-link:active {
        box-shadow: 0px 1px 1px rgba(42, 226, 217, 0.252);
    }

    &__nav-link-txt {
        color: whitesmoke;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.579);
        // text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        font-family: inconsolata;
    }

    &__nav-link:hover>&__nav-link-txt {
        color: rgb(92, 193, 193);
    }

    &__nav-link:active>&__nav-link-txt {
        color: rgb(46, 152, 117);
    }

    &__nav-link_blue {
        background-color: rgb(36, 71, 99);
    }

    &__nav-sub-list {
        // border: 1px solid green;

        padding-top: 10px;
        top: 100%;
        position: absolute;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        min-width: 200px;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

    &__nav-item:hover>&__nav-sub-list {
        visibility: visible;
        opacity: 1;
    }

    &__nav-sub-item {
        background-color: rgb(32, 46, 54);
        border-bottom: 1px solid rgb(57, 33, 33);
        transition: .3s;
    }

    &__nav-sub-item:hover {
        background-color: rgb(13, 24, 24);
    }

    &__nav-sub-link {
        color: rgb(154, 230, 226);
        text-shadow: 1px 1px 2px black;
        display: block;
        padding: 5px;
    }

}

.search-form {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    border-radius: 300px;
    overflow: hidden;
    max-width: 1000px;

    position: relative;
    height: 30px;

    &__reset-button {
        display: block;
        height: 100%;
        padding: 0 3px 0 7px;
        background: transparent;
        position: absolute;
        left: 0px;
        border-right: 1px solid rgb(104, 196, 169);
        background-color: rgb(114, 169, 161);
        transition: .3s;
    }

    &__reset-button:hover {
        background-color: rgb(175, 138, 94);
    }

    &__reset-button img {
        height: 80%;
    }

    &__text-input {
        background-color: rgb(157, 221, 223);
        border-radius: 300px;
        flex: 1 1 auto;
        align-self: stretch;
        padding: 10px 80px 10px 40px;
        border-top: 1px solid rgb(104, 196, 169);
        border-bottom: 1px solid rgb(104, 196, 169);
        &:focus {
            
            box-shadow: inset 0px 0px 3px black;
        }
    }

    &__submit-button {
        background-color: rgb(126, 195, 171);
        color: rgb(30, 26, 19);
        padding: 0 15px 0 10px;
        display: block;
        height: 100%;
        border-left: 1px solid rgb(104, 196, 169);
        // background-color: transparent;
        right: 0px;
        position: absolute;
        transition: .3s;
    }

    &__submit-button:hover {
        background-color: rgb(60, 186, 117);
    }
}

.login-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(17, 40, 38);
    height: 300px;
    width: 300px;
    padding: 30px;

    flex-flow: column nowrap;
    align-items: flex-start;
    row-gap: 40px;

    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);

    &__title {
        font-size: 30px;
        // text-transform: uppercase;
        text-decoration: underline;
        color: rgb(83, 167, 98);
        text-shadow: 2px 2px 3px black;
        letter-spacing: 7px;
        align-self: center;
    }

    &__group {
        background-color: none;
        padding: 3px;
        position: relative;
        width: 100%;
    }

    &__input {
        background: transparent;
        font-weight: 300;
        letter-spacing: 1px;
        color: rgb(159, 255, 255);
        border-bottom: 1px solid rgba(76, 207, 157, 0.77);
        width: 100%;
    }

    &__label {
        font-weight: 200;
        color: rgba(0, 255, 255, 0.694);
        position: absolute;
        left: 5px;
        bottom: 8px;
        transition: .3s;

    }

    &__input:focus~&__label,
    &__input:not(:placeholder-shown)~&__label {
        bottom: 33px;
        font-size: 12px;
        color: rgba(0, 255, 255, 0.27);
    }

    &__submit {
        padding: 5px 20px;
        border-radius: 3px;
        background-color: rgb(143, 204, 168);
        box-shadow: 2px 2px 4px black;
        align-self: flex-end;
        transition: .2s;
    }

    &__submit:hover {
        background-color: rgb(213, 231, 146);
    }

    &__visible {
        display: flex;
    }
}

// NAV

@media screen and (max-width: 998px) {
    .nav {
        position: fixed;
        top: calc($header-height + 2px);
        left: 0;
        right: 0;
        border-radius: 0;
    } 
    .nav__nav-item {
        margin-bottom: 5px;
    }
    .nav__nav-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }   
    .nav__nav-sub-list{
        left: 100%;
        top: 0;
        padding-top: 0;
        padding-left: 10px;
    }
}












.main {
    font-size: 20px;
    margin-top: calc($header-height + 10px);
    flex: 1 1 auto;
    height: 2000px;
}
.shop {
    min-height: 500px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    
    &__other-products {
        flex: 1 1 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px; 
    }

    &__month {
        flex: 0 0 500px;
        max-height: 500px;
        background-color: rgb(51, 55, 50);
        border-radius: 4px;
        position: relative;
        overflow: hidden;
    }
    
    &__card {
        height: 300px;
        background-color: rgb(54, 52, 52);
        border-radius: 4px;
        
    }
}
.card {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    &__main-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__under-menu {
        width: 100%;
        height: 100%;
        transition: .3s;

        position: absolute;
        left: 0;
        top: 0;
    }
    &__title {
        background-color: rgba(46, 12, 12, 0.201);
        position: absolute;
        width: 100%;
        top: -100%;
        height: 50px;
        padding: 10px;
        text-align: center;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        transition: .3s;
    }
    &__panel {
        height: 60px;
        background-color: rgba(17, 103, 123, 0.326);
        position: absolute;
        bottom: 0;
        right: 100%;
        width: 100%;
        transition: .3s;

        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: flex-end;
        column-gap: 10px;
        button, a {
            font-size: 14px;
            text-align: right;
            padding: 7px;
            height: 25px;
            width: 60px;
            background-color: rgb(255, 255, 255);
            border-radius: 3px;
            color: rgb(29, 77, 84);
        }
    }
    &__under-menu:hover {
        box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.597);
    }
    &__under-menu:hover &__panel {
        right: 0;
    }
    &__under-menu:hover &__title {
        top: 0;
    }
}


.footer {
    background-image: url(/img/footer-back.jpg);
    flex: 0 0 50px;
}
