.body {
  background-color: rgb(46, 45, 45);
  font-family: prompt;
}

.body__none-scroll {
  overflow: hidden;
}

.wrapper {
  background-image: url(/img/back.jpg);
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
}
.header__top {
  background-color: rgb(35, 32, 40);
  box-shadow: 0px 10px 10px black;
}
.header__content {
  min-height: 120px;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__logo {
  width: 100px;
  padding: 0px 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 10px rgba(7, 132, 132, 0.457);
  transition: 0.3s;
}
.header__logo:hover {
  background-color: rgb(3, 36, 47);
}
.header__nav {
  background-color: rgb(33, 39, 38);
  border-radius: 5px;
  flex: 0 1 800px;
  padding: 10px 30px;
  box-shadow: 0 0 20px rgba(0, 255, 191, 0.631);
  transition: 0.2s;
}
.header__nav:hover {
  box-shadow: 0 0 15px rgba(0, 255, 213, 0.334);
}
.header__user-menu {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__button {
  background: rgb(19, 39, 41);
  border-radius: 7px;
  box-shadow: 0px 1px 10px rgb(3, 134, 90);
  padding: 10px 15px;
  min-height: 50px;
  flex: 0 0 auto;
  transition: 0.3s;
}
.header__button_red {
  background: rgb(43, 10, 10);
}
.header__button:hover {
  background-color: rgb(14, 65, 73);
}
.header__button:active {
  background-color: rgb(39, 123, 134);
}
.header__icon {
  width: 40px;
}
.header__hidden-search-panel {
  background-color: rgb(40, 49, 55);
  border-radius: 4px;
  box-shadow: 0px 4px 4px black;
  position: absolute;
  max-width: 1400px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  padding: 10px 100px;
  z-index: -1;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__hidden-search-panel_open-search-form {
  top: 123px;
}
.header__search-form {
  flex: 1 1 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.header__substrate {
  position: absolute;
  display: none;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.081);
}
.header__substrate-opener {
  display: block;
}

.search-form {
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-radius: 300px;
  overflow: hidden;
  position: relative;
  height: 40px;
}
.search-form__reset-button {
  display: block;
  height: 100%;
  padding: 0 3px 0 10px;
  background: transparent;
  position: absolute;
  left: 0px;
  border-right: 1px solid rgb(104, 196, 169);
  background-color: rgb(114, 169, 161);
  transition: 0.3s;
}
.search-form__reset-button:hover {
  background-color: rgb(82, 136, 128);
}
.search-form__reset-button img {
  height: 80%;
}
.search-form__text-input {
  background-color: rgb(18, 139, 143);
  border-radius: 300px;
  flex: 1 1 auto;
  align-self: stretch;
  padding: 10px 80px 10px 60px;
}
.search-form__text-input:focus {
  border-top: 1px solid rgb(104, 196, 169);
  border-bottom: 1px solid rgb(104, 196, 169);
  box-shadow: inset 0px 0px 3px black;
}
.search-form__submit-button {
  background-color: rgb(31, 80, 63);
  color: rgb(212, 201, 172);
  padding: 0 20px 0 10px;
  font-size: 18px;
  display: block;
  height: 100%;
  border-left: 1px solid rgb(104, 196, 169);
  right: 0px;
  position: absolute;
  transition: 0.3s;
}
.search-form__submit-button:hover {
  background-color: rgb(58, 104, 89);
}

.login-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(17, 40, 38);
  height: 300px;
  width: 300px;
  padding: 30px;
  flex-flow: column nowrap;
  align-items: flex-start;
  row-gap: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.login-form__title {
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(83, 167, 98);
  text-shadow: 2px 2px 3px black;
  letter-spacing: 7px;
  align-self: center;
}
.login-form__group {
  background-color: none;
  padding: 3px;
  position: relative;
  width: 100%;
}
.login-form__input {
  background: transparent;
  font-weight: 300;
  letter-spacing: 1px;
  color: rgb(159, 255, 255);
  border-bottom: 1px solid rgba(76, 207, 157, 0.77);
  width: 100%;
}
.login-form__label {
  font-weight: 200;
  color: rgba(0, 255, 255, 0.694);
  position: absolute;
  left: 5px;
  bottom: 8px;
  transition: 0.3s;
}
.login-form__input:not(:-moz-placeholder-shown) ~ .login-form__label {
  bottom: 33px;
  font-size: 12px;
  color: rgba(0, 255, 255, 0.27);
}
.login-form__input:not(:-ms-input-placeholder) ~ .login-form__label {
  bottom: 33px;
  font-size: 12px;
  color: rgba(0, 255, 255, 0.27);
}
.login-form__input:focus ~ .login-form__label, .login-form__input:not(:placeholder-shown) ~ .login-form__label {
  bottom: 33px;
  font-size: 12px;
  color: rgba(0, 255, 255, 0.27);
}
.login-form__submit {
  padding: 5px 20px;
  border-radius: 3px;
  background-color: rgb(143, 204, 168);
  box-shadow: 2px 2px 4px black;
  align-self: flex-end;
  transition: 0.2s;
}
.login-form__submit:hover {
  background-color: rgb(213, 231, 146);
}
.login-form__visible {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__nav-list {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.nav__nav-item {
  display: block;
  flex: 0 1 auto;
  position: relative;
  height: 40px;
}
.nav__nav-link {
  background-color: rgb(48, 69, 61);
  box-shadow: 0px 2px 6px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}
.nav__nav-link:hover {
  background-color: rgb(55, 90, 77);
}
.nav__nav-link:active {
  box-shadow: 0px 1px 2px rgb(226, 42, 223);
}
.nav__nav-link-txt {
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
  font-size: 18px;
  font-family: prompt;
  letter-spacing: 3px;
}
.nav__nav-link:hover > .nav__nav-link-txt {
  color: rgb(90, 216, 216);
}
.nav__nav-link:active > .nav__nav-link-txt {
  color: rgb(46, 152, 117);
}
.nav__nav-link_blue {
  background-color: rgb(36, 71, 99);
}
.nav__nav-sub-list {
  padding-top: 20px;
  position: absolute;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: 200px;
  border-radius: 10px;
  top: -1000px;
  transition: 1s;
}
.nav__nav-item:hover > .nav__nav-sub-list {
  display: block;
  top: auto;
}
.nav__nav-sub-item {
  background-color: rgb(55, 90, 77);
  border-bottom: 1px solid rgb(57, 33, 33);
  transition: 0.3s;
}
.nav__nav-sub-item:hover {
  background-color: rgb(23, 49, 49);
}
.nav__nav-sub-link {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
  display: block;
  padding: 20px;
}

.main {
  font-size: 20px;
  margin-top: 130px;
  flex: 1 1 auto;
  height: 2000px;
}

.footer {
  background-image: url(/img/footer-back.jpg);
  flex: 0 0 50px;
}/*# sourceMappingURL=style.css.map */